pkgbase = markinator
	pkgdesc = Markdown editor and reader for Omarchy
	pkgver = 0.1.9
	pkgrel = 1
	url = https://github.com/smanookian/markinator
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = fontconfig
	source = markinator-0.1.9.tar.gz::https://github.com/smanookian/markinator/archive/v0.1.9.tar.gz
	sha256sums = e63fc8d1622822c5a508c8d5553758b4bb0bfe97898105444f058d1019b094ef

pkgname = markinator
